@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/noty/lib/noty.css";
@import "loader";

.hide {
  display: none;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

body .show-when-loaded {
  display: none !important;
}
body.loaded .hide-when-loaded {
  display: none !important;
}
body.loaded .show-when-loaded {
  display: initial;
}
body.loaded .show-when-loaded.container-fluid {
  display: block !important;
}
body.loaded .show-when-loaded.d-flex {
  display: flex !important;
}

.navbar-header {
  height: 42px;
}
.navbar-header.sticky-top {
  background-color: white;
}


button {
  cursor: pointer;
}
button.btn-positive:hover {
  background-color: green;
  color: white;
}
button.btn-default:hover {
  background-color: rgb(160, 160, 160);
  color: white;
}

button.add-option {
  margin-top: 12px;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;

  /* this should solve some input/footer overlap issues on prefs form */
  z-index: 1000;
  padding-left: 5px;
  padding-right: 5px;
}

.new {
  .guts-wrapper {
    height: calc(100vh - 40px);
    overflow-y: scroll;
  }
  footer {
    justify-content: flex-end;
  }
}

.guts-wrapper {
  height: calc(100vh - 83px);
  overflow-y: scroll;
}

.watcher iframe {
  width: calc(100vw - 15px);
  height: calc(100vh - 90px);
  margin-left: auto;
  margin-right: auto;
}

.scrollable {
  height: 88vh;
  overflow-y: scroll;
}

.no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

iframe {
  overflow: hidden;
  border: none;
}

iframe.preview {
  width: 100%;
}

.form-control[name=repo] {
  width: 80%;
}

input[type=range] {
  width: 100%;
}

input[type=radio], div.body > a {
  margin: 4px;
}

.hint {
  color: #888888;
  font-size: 95%;
}

h1 .hint {
  font-size: 60%;
}

fieldset {
  border: none;
}

//.wrapper {
//  margin-right: 5px;
//  margin-left: 5px;
//}
//.pane h1 {
//  margin-top: 0px;
//  font-size: 1.5em;
//}

.window > footer {
  padding: 5px;
}

body.about {
  overflow-x: hidden;
}
.about {
  margin-left: 5px;
  text-align: center;
}
.about h1, .about h2, .about h3, about p {
  overflow: visible;
  margin-top: 5px;
  margin-bottom: 5px;  
}
.about h2 {
  font-size: 175%;
}
.about p {
  font-size: 120%;
}

#attributes .list-group * {
  white-space: normal;
}

.only-for-slider {
  display: none;
}

.slider .only-for-slider {
  display: block;
}

#details {
  min-height: 120px;
}

#details h1, #options h1, #preview-wrapper h1 {
  font-size: 125%;
  margin-top: 5px;
}

#preview-wrapper h1 {
  padding-left: 15px;
}

p.description {
  white-space: initial;
  margin-bottom: 0px;
}

#options {
  margin-bottom: 10px;
}
#options div.field {
  display: flex;
}
#options div.input {
  width: 75%;
  align-self: center;
  padding-right: 10px;
}
#options legend {
  font-size: 95%;
  width: 25%;
  align-self: center;
  margin: 0px;
}

.buttons > a {
  margin: 2px;
}

#savers li.list-group-item.active a.btn {
  background: white;
}

.prefs-wrapper {
  padding-left: 5px;
}

.spaced-buttons button {
  margin-left: 2px;
  margin-right: 2px;
}


form.submit-attempt {
  input:invalid {
    border: 2px dashed red;
  }
}

.tab-content {
  width: 100%;
}