$nav_height: 34px;
$footer_height: 50px;
$footer_padding: 25px;
$footer_inner_height: 40px;
$tab_padding:6px;
$grid_gap:10px;
$preview_height: 320px;
$small_padding: 10px;

/* purgecss start ignore */
@import "~noty/lib/noty.css";
@import "~noty/lib/themes/mint.css";

div#noty_layout__bottomRight {
  right: 0px;
  bottom: 45px;
}

html {
  height: 100%;
  font-family: system-ui;
}
body {
  min-height: 100%;
}

body, input, button {
  font: caption;
}
select {
  font: menu;
}

h1 {
  font-size: 1.8rem;
}

small {
  font-size: 90%;
}

.form-check {
  margin-bottom: 0.3rem;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.input-group-btn.spaced {
  margin-left: 3px;
}

//
// prefs page
//
#prefs {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: #{$preview_height} 1fr #{$footer_height};
  grid-template-areas: "saver-list saver-preview"
    "saver-list saver-detail"
    "saver-list saver-detail"
    "footer footer";
}

#prefs > header {
  grid-area: header;
}
ul.saver-list {
  grid-area: saver-list;
}
div.saver-detail {
  grid-area: saver-preview;
  height: $preview_height;
}

#prefs .saver-detail {
  margin-left: 10px;
}

#editor .saver-detail {
  max-width: 500px;
}

div.saver-wrap {
  grid-area: saver-detail; 
  margin-left: 10px;
  height: calc(100vh - #{$preview_height + $footer_height + $small_padding});
  overflow-y: scroll;
}

#settings {
  margin-bottom: #{$footer_height + $footer_padding};
}
footer.footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}

#prefs h1 {
  font-size: 1.4rem;
}
#advanced-prefs-form > h1 {
  margin-top: 30px;
}

body > #editor > .content {
  overflow-y: scroll;
}

body > #editor #settings > div {
  padding-top: 35px;
}

// @media (max-height: 600px) {
//   body > div > .content {
//     overflow-y: scroll;
//   }  
// }

footer.footer {
  height: $footer_height;
  background-color: #f5f5f5;
  padding-left: 5px;
  padding-right: 5px;
}

// body > div > footer > div {
//   height: $footer_inner_height;
//   margin-top: #{($footer_height/2 - $footer_inner_height/2) + 1};
//   margin-right: #{($footer_height/2 - $footer_inner_height/2) + 1};
// }


ul {
  padding-left: 0px;
  list-style-type: none;
}

ul[role=tablist] {
  width: 100%;
  position: fixed;
  height: $nav_height;
  margin-bottom: 42px;
  background: white;
  z-index: 99999;
}
.tab-content {
  padding-top: $nav_height+$tab_padding;
}

.hide {
  display: none;
}

button {
  cursor: pointer;
}

button.add-option {
  margin-top: 12px;
}

.space-at-bottom {
  margin-bottom: 20px;
}

.saver-list {
  height: calc(98vh - #{$footer_height});
  margin-bottom: 0px;
  overflow-y: scroll;
  font: small-caption;

  li.list-group-item {
    border: none;
  }

  label {
    font-size: 0.9rem;
  }
}
.saver-detail {
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.saver-description h1 {
  font-size: 1.2rem;
}
iframe, webview {
  overflow: hidden;
  border: none;
}

iframe.preview, webview.preview {
  width: 100%;
  overflow:hidden;
}

.hint {
  color: #888888;
  font-size: 95%;
}

h1 .hint {
  font-size: 60%;
}

.window > footer {
  padding: 5px;
}

.padded-top {
  margin-top: 20px;
}
.padded-bottom {
  margin-bottom: 60px;
}

//
// about page
//
#about {
  overflow-x: hidden;
}
#about {
  margin-left: 5px;
  text-align: center;
}
#about h1, #about h2, #about h3, #about p {
  overflow: visible;
  margin-top: 5px;
  margin-bottom: 5px;  
}
#about h2 {
  font-size: 1.3rem;
}
#about h3 {
  font-size: 1.1rem;
}
#about p {
  font-size: 120%;
}
#about svg {
  width: 50%;
}

#options {
  margin-bottom: 10px;
}
#options div.field {
  display: flex;
}
#options div.input {
  width: 75%;
  align-self: center;
  padding-right: 10px;
}
#options legend {
  font-size: 95%;
  width: 25%;
  align-self: center;
  margin: 0px;
}


form.submit-attempt {
  input:invalid {
    border: 2px dashed red;
  }
}

form.entry {
  margin-top: 5px;
  margin-bottom: 5px;
}

form.input {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
form.input input[type=text], input[type=range] {
  width: 100%;
}

label.for-option {
  font-weight: bold;
}
input[type="range"] {
  max-width: 250px;
}


// new screensaver

.need-setup-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
/* purgecss end ignore */
