@import "../../node_modules/noty/lib/noty.css";
@import "loader";

$nav_height: 42px;
$footer_height: 40px;
$tab_padding:12px;

body > div > footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer_height;
  background-color: #f5f5f5;

  /* this should solve some input/footer overlap issues on prefs form */
  z-index: 1000;
  padding-left: 5px;
  padding-right: 5px;
}

body > div > .content {
  height: calc(100vh - #{$footer_height});
  overflow-y: scroll;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

ul[role=tablist] {
    width: 100%;
    position: fixed;
    height: $nav_height;
    margin-bottom: 42px;
    background: white;
    z-index: 99999;
}
.tab-content {
    padding-top: $nav_height+$tab_padding;
}

.hide {
  display: none;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.navbar-header {
  height: $nav_height;
}
.navbar-header.sticky-top {
  background-color: white;
}

button {
  cursor: pointer;
}
button.btn-positive:hover {
  background-color: green;
  color: white;
}
button.btn-default:hover {
  background-color: rgb(160, 160, 160);
  color: white;
}

button.add-option, button.reset-to-defaults {
  margin-top: 12px;
}

.watcher iframe {
  width: calc(100vw - 15px);
  height: calc(100vh - 90px);
  margin-left: auto;
  margin-right: auto;
}

.saver-list {
  height: calc(100vh - #{$nav_height+$tab_padding+$footer_height});
  margin-bottom: 0px;
  overflow-y: scroll;
}

.no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

iframe {
  overflow: hidden;
  border: none;
}

iframe.preview {
    width: 100%;
    overflow:hidden;
}

.form-control[name=repo] {
  width: 80%;
}

input[type=range] {
  width: 100%;
}

input[type=radio], div.body > a {
  margin: 4px;
}

.hint {
  color: #888888;
  font-size: 95%;
}

h1 .hint {
  font-size: 60%;
}

fieldset {
  border: none;
}

.window > footer {
  padding: 5px;
}

// hide slider options for non-sliders
form.option-text .only-for-slider {
  display: none;
}

.padded-top {
    margin-top: 20px;
}

.padded-bottom {
    margin-bottom: 60px;
}

#about {
  overflow-x: hidden;
}
#about {
  margin-left: 5px;
  text-align: center;
}
#about h1, #about h2, #about h3, #about p {
  overflow: visible;
  margin-top: 5px;
  margin-bottom: 5px;  
}
#about h2 {
  font-size: 175%;
}
#about p {
  font-size: 120%;
}

#attributes .list-group * {
  white-space: normal;
}

#details {
  min-height: 120px;
}

#details h1, #options h1, .saver-description h1 {
  font-size: 125%;
  margin-top: 5px;
}

p.description {
  white-space: initial;
  margin-bottom: 0px;
}

#options {
  margin-bottom: 10px;
}
#options div.field {
  display: flex;
}
#options div.input {
  width: 75%;
  align-self: center;
  padding-right: 10px;
}
#options legend {
  font-size: 95%;
  width: 25%;
  align-self: center;
  margin: 0px;
}

.buttons > a {
  margin: 2px;
}

#savers li.list-group-item.active a.btn {
  background: white;
}

.prefs-wrapper {
  padding-left: 5px;
}

form.submit-attempt {
  input:invalid {
    border: 2px dashed red;
  }
}

.tab-content {
  width: 100%;
}

#prefs .tab-content > .tab-pane:last-child {
    margin-bottom: 30px;
}


form.entry {
    margin-bottom: 10px;
}

label.for-option {
    font-weight: bold;
    width: 250px;
}
