:root {
  --preview-wrapper-width: 500px;
  --preview-wrapper-height: 320px;
  --preview-width: 500px;
  --preview-height: 320px;
  --preview-scale: 1.0;
  --footer-height: 30px;
  --space-at-top: 1.0rem;
  --footer-padding: 25px;
  --small-padding: 10px;
  --font-size: 14px;
}

@import "normalize.css";

html {
  height: 100%;
  font-family: system-ui;
  font-size: var(--font-size);
}
body {
  min-height: 100%;
}

input, button {
  font: small-caption;
}
select {
  font: menu;
}



button {
  cursor: pointer;
  height: 21px;
  padding: 0px 16px;
  font-size: var(--font-size);
  border: 1px solid;
  border-radius: 4px;
  border-top-color: rgb(198, 198, 198);
  border-bottom-color: rgb(170, 170, 170);
  border-left-color: rgb(192, 192, 192);
  border-right-color: rgb(192, 192, 192);
}


h1 {
  font-size: 1.1rem;
}
#about h1 {
  font-size: 2.0rem;
}
small {
  font-size: 95%;
}
.text-muted {
  color: grey;
}

.form-check {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0rem;
}
 
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.input-group-btn.spaced {
  margin-left: 3px;
}

.input-group {
  display: flex;
  width: 100%;
}


#prefs, #settings, #editor, #about {
  padding: 0.5rem;
}

//
// prefs page
//
#prefs {
  display: grid;
  grid-template-columns: var(--preview-wrapper-width) 1fr;
  grid-template-rows: var(--preview-wrapper-height) 1fr var(--footer-height);
  grid-template-areas: "saver-preview saver-list"
    "saver-info basic-prefs"
    "footer footer";
}

#prefs > header {
  grid-area: header;
}

.platform-darwin .hide-on-darwin {
  display: none;
}

.saver-list-wrapper {
  grid-area: saver-list;
  height: var(--preview-wrapper-height);
  padding-left: 0.25rem;
}
.saver-list {
  max-height: calc(var(--preview-wrapper-height) - 34px);
  overflow-y: scroll;
  margin-bottom: 0px;
  font: small-caption;

  li.list-group-item {
    padding-left: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
  }

  li.list-group-item.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  label {
    font-size: 0.9rem;
  }
}

#prefs input[name=screensaver] {
  display: none;
}

div.saver-detail {
  grid-area: saver-preview;
  height: var(--preview-wrapper-height);
  overflow: hidden;
}

.saver-preview {
  width: var(--preview-width);
  height: var(--preview-height);
  transform: scale(var(--preview-scale));
  transform-origin: 0 0;
  overflow: hidden;
  border: 0;
}
.saver-preview::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

div.basic-prefs {
  grid-area: basic-prefs;
  margin-top: 1rem;
  margin-right: 2rem;
}

div.saver-info {
  grid-area: saver-info; 
  height: calc(99vh - var(--preview-wrapper-height) - var(--footer-height) - var(--space-at-top) - var(--small-padding));
  overflow-y: auto;
}
div.saver-info #wrapper {
  max-width: 98%;
}

#settings {
  padding-top: 0.5rem;
}
footer.footer {
  height: var(--footer-height);
  grid-area: footer;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #f5f5f5;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
}

#prefs h1 {
  font-size: 1.4rem;
}
#advanced-prefs-form > h1 {
  margin-top: 30px;
}

body > #editor > .content {
  overflow-y: scroll;
}

body > #editor #settings > div {
  padding-top: 35px;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}

.hide {
  display: none;
}


button.add-option {
  margin-top: 12px;
}

.space-at-top {
  margin-top: var(--space-at-top);
}

.space-at-bottom {
  margin-bottom: 20px;
}

.saver-detail {
  padding-left: 0px;
  padding-right: 5px;
}

.saver-description .actions {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hint {
  color: #888888;
  font-size: 95%;
}

h1 .hint {
  font-size: 60%;
}

.window > footer {
  padding: 5px;
}

.padded-top {
  margin-top: 20px;
}
.padded-bottom {
  padding-bottom: 60px;
}

//
// about page
//
#about {
  overflow-x: hidden;
}
#about {
  margin-left: 5px;
  text-align: center;
}
#about h1, #about h2, #about h3, #about p {
  overflow: visible;
  margin-top: 5px;
  margin-bottom: 5px;  
}
#about h2 {
  font-size: 1.3rem;
}
#about h3 {
  font-size: 1.1rem;
}
#about p {
  font-size: 120%;
}
#about svg {
  width: 50%;
}

#options {
  margin-bottom: 10px;
}
#options div.field {
  display: flex;
}
#options div.input {
  width: 75%;
  align-self: center;
  padding-right: 10px;
}
#options legend {
  font-size: 95%;
  width: 25%;
  align-self: center;
  margin: 0px;
}


form.submit-attempt {
  input:invalid {
    border: 2px dashed red;
  }
}

form.entry {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #888888;
}

form.input {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
form.input input[type=text], input[type=range] {
  width: 100%;
}

label.for-option {
  font-weight: bold;
}
input[type="range"] {
  max-width: 250px;
}

div.space-evenly {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
}

div.form-group {
  margin-bottom: 1rem;
  max-width: 95%;

  label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  input, button, select {
    display: block;
    height: auto;
    font-size: 1rem;
    padding: .375rem .75rem;
    line-height: 1.5;
  }
  input {
    width: 100%;
    max-width: 50%;
  }
  input[type=checkbox] {
    width: initial;
    display: inline-block;
  }
  .hint {
    display: block;
  }
}
div.form-group.full-width {
  max-width: 100%;
}

// new screensaver
#new {
  padding: 0.5rem;
}
.need-setup-message {
  height: 80vh;
}

.block {
  display: block;
}



#editor {
  h1, h2, h3, h4 {
    margin-bottom: 0px;
  }

  h1, h2, h3, h4 {
    & + small {
      display: block;
      margin-bottom: 1rem;
    }

    & + input {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}

input[type="checkbox"] + label {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}


div.notarize-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  background: white;
  min-height: 40px;
  min-width: 100px;
  max-width: 200px;
  border-radius: 5px;
  border-color: black;
  border: 2px solid;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

.notarize-in {
  animation: fadeIn 1.0s; 
}

.notarize-out {
  animation: fadeOut 1.0s; 
}
