iframe {
  display: block;
  overflow: hidden;
  border: none;
  width: 100%;
  min-height: 250px;
}

.hide {
  display: none;
}

.form-control[name=repo] {
  width: 80%;
}

input[type=range] {
  width: 100%;
}

input[type=radio], div.body > a, span.author, p.description {
  margin: 4px;
}

p.description {
  overflow: initial;
  max-width: 370px;
  text-overflow: initial;
  white-space: initial;
}
.hint {
    color: #bbbbbb;
    font-size: 90%;
    display: block;
}
.tab-item a {
  color: black;
  text-decoration: none;
}

fieldset {
  border: none;
}

textarea[name=localSources] {
  width: 60%;
  display: inline-block;
}
.pick {
  display: inline-block;
  vertical-align: top;
}
