name: eslint

# Run this workflow every time a new commit pushed to your repository
on: push

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  eslint:
    # Name the Job
    name: Run eslint
    # Set the type of machine to run on
    runs-on: ubuntu-latest
    steps:
      - name: Install ubuntu requirements
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y libx11-dev libxss-dev icnsutils graphicsmagick libappindicator1 libxtst-dev

      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run ESlint
        uses: hallee/eslint-action@1.0.3
        with:
          repo-token: ${{secrets.GITHUB_TOKEN}}
